A.out:link,A.out:visited,A.out:active {text-decoration:none;color:white;font-family:none;font-weight: 0;font-size:0px;}
A.navigation_link:link,A.navigation_link:visited,A.navigation_link:active {text-decoration:none;}

